/*---------------universal & Background---------------*/
* {
    margin: 0px;
    padding: 0px;
}

$mobile-image-size: 450px;
$tablet-image-size: 350px;
$adjusted-image-size: 300px;
$desktop-image-size: 400px;

body {
    background-color: #c3cfe2;
    font-family: 'Pacifico', cursive;
}

.portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    &__header {
        background-color: #929ed4;
        width: 100%;
    }

    &__title {
        font-size: 50px;
        text-align: center;
        padding: 10px;
    }

    &__album {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 90%;
    }

    &__item-wrapper {
        width: $mobile-image-size;
        height: $mobile-image-size;
        background-color: #222949;
        border-radius: 10px;
        margin: 20px;

        & button {
            background-color: #929ed4;
            border: none;
            color: white;
            padding: 16px 32px;
            cursor: pointer;
            border-radius: 5px;
            position: relative;
            left: 160px;
            bottom: 250px;
            opacity: 0;

            &:hover {
                transform: scale(1.2);
                background-color:#c3cfe2;
                color: black;
            }
        }

        & img {
            width: $mobile-image-size;
            height: $mobile-image-size;
            border-radius: 10px;
            opacity: 1;
        }

        &:hover {

            & img {
                opacity: 0;
                transition: opacity .3s ease-in;
            }

            & button {
                opacity: 1;
                transition: opacity .3s ease-in;
            }
        }
    }
}

/*------------------Tablet------------------*/
@media (min-width: 768px) {

    .portfolio {
        
        &__item-wrapper {
            width: $tablet-image-size;
            height: $tablet-image-size;
        
            & button {
                left: 115px;
                bottom: 200px;
            }

            & img {
                width: $tablet-image-size;
                height: $tablet-image-size;
            }
        
        }

        &__album {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center; 
        }
    }

}

/*------------------Desktop------------------*/
@media (min-width: 992px) {
    .portfolio {
        
        &__item-wrapper {
            width: $adjusted-image-size;
            height: $adjusted-image-size;
        
            & button {
                left: 90px;
                bottom: 180px;
            }

            & img {
                width: $adjusted-image-size;
                height: $adjusted-image-size;
            }
        
        }

        &__album {
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center; 
        }
    }
    
}

/*------------------Desktop widescreen------------------*/
@media (min-width: 1286px) {

    .portfolio {
        
        &__item-wrapper {
            width: $desktop-image-size;
            height: $desktop-image-size;
        
            & button {
                left: 140px;
                bottom: 220px;
            }

            & img {
                width: $desktop-image-size;
                height: $desktop-image-size;
            }
        
        }
    }
    
}
